{% extends 'base.html' %}
{% load static %}

{% block title %}Register - MD Nets {% endblock %}

{% block Content %}
<section class="register_page section dark-background">

  <!-- Background Image -->
  <div class="background-image">
    <img src="{% static 'assets/img/hero-bg2.jpg' %}" alt="Background" class="img-fluid">
  </div>

  <div class="container mt-5">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h2 class="text-center mb-4">Create Account - Client</h2>
        {% if messages %}
          <div class="message-box">
            {% for message in messages %}
              <p class="alert {{ message.tags }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <form action="{% url 'matiangi:client_register' %}" method="POST">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Set your username" required>
          </div>

          <div class="form-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password1" placeholder="Set your password" required>
          </div>

          <div class="form-group mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="password2" placeholder="Re-enter your password" required>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>

        <div class="text-center mt-3">
            <p>Already have an account? <a href="{% url 'matiangi:client_login' %}">Log in</a></p>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
