{% load static %}

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'matiangi:home_page'%}" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <h1 class="sitename">MD Nets</h1>
        <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'matiangi:home_page'%}" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Login/Register</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'matiangi:login_page'%}">Login</a></li>
              <li class="dropdown"><a href="#"><span>Forgot Password</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Reset password</a></li>
                  <li><a href="#">Delete acount</a></li>
                  <li><a href="{% url 'matiangi:contact'%}">Contact support</a></li>
                </ul>
              </li>
              <li><a href="{% url 'matiangi:login_page'%}">Staff Login</a></li>
              <li><a href="{% url 'matiangi:register'%}">Register</a></li>
              <li><a href="{% url 'matiangi:home_page'%}">Continue as guest</a></li>
            </ul>
          </li>
          <li><a href="{% url 'matiangi:contact'%}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{% url 'matiangi:register'%}">Join Our Team</a>

    </div>
  </header>