{% extends 'base.html' %}
{% load static %}

{% block title %}Unauthorized Access{% endblock %}

{% block Content %}
<section class="unauthorized-page section dark-background">
    <div class="container mt-5">
        <div class="card shadow-sm border-0">
            <div class="card-body text-center">
                <h2 class="text-danger mb-4">Unauthorized Access</h2>
                <p class="lead">Sorry, you do not have permission to view this page.</p>
                <a href="{% url 'matiangi:home_page' %}" class="btn btn-primary">Go to Homepage</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
